.column {
    width: 25%;
    margin: auto;
    float: left;
    margin-left: 85px;
}

h1 {
    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

input{
    margin: auto;
    width: 47.5%;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
}

select {
    width: 47.5%;
    height: 30px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 25px;
}

.warningText {
    color:red; 
    font-style: italic;
}

button {
    font-size: 24px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
}

.buttonsParent button {
    height: 30px;
    width: 25%;
    margin-right: 10px;
}

.buttonsParent button:hover {
    background-color: #ccefff;
}

.selectedButton {
    background-color: #80d7ff;
}

.centerDiv {
    display: flex; 
    justify-content: center;
    width: 1500px;
}